## Python

About Python

## Why Python

Design philosophy

Batteries included

General purpose

Libraries/Community

## Why python for Data Science

Easy to learn

Proximity with maths

community

### 1.print()

In [4]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [2]:
# Python is a case sensitive language
print("Hello World")

Hello World

In [3]:
print("Bhushan VR Chitte")

Bhushan VR Chitte

In [8]:
print(11)

11

In [9]:
print(1.1)

1.1

In [11]:
# boolean is true/false
print(True)

True

In [13]:
print("Hello",11,1.1,True)

Hello 11 1.1 True

In [2]:
print('Hello',11,1.1,True,sep=' ')

Hello 11 1.1 True

In [3]:
print('Hello',11,1.1,True,sep='/')

Hello/11/1.1/True

In [16]:
print('Hello',11,1.1,False,sep="\n")

Hello
11
1.1
False

In [18]:
print("Hello")
print("World")

Hello
World

In [20]:
print("Hello",end=" ")
print("World")

Hello World

In [21]:
print("Hello",end='-')
print("World")

Hello-World

In [23]:
print("Hello",end='_')
print("World")

Hello_World

### 2.Data Types

In [27]:
print(11)
print(1e308)
print(1e309)

11
1e+308
inf

In [42]:
print(1.1)
print(1.7e308)
print(1.8e309)

1.1
1.7e+308
inf

In [44]:
print(True)
print(False)

True
False

In [45]:
print("Data Scientist")

Data Scientist

In [47]:
print(5+6j)

(5+6j)

In [48]:
#list
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [49]:
#tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [50]:
#set
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [51]:
#dict
print({'Name':'XYZ','Age':20})

{'Name': 'XYZ', 'Age': 20}

In [1]:
print(type(1))

<class 'int'>

In [2]:
print(type(1.1))

<class 'float'>

In [5]:
print(type(True))

<class 'bool'>

In [3]:
print(type([1,2,3]))

<class 'list'>

In [6]:
print(type(1+2j))

<class 'complex'>

In [4]:
print(type((1,2,3)))

<class 'tuple'>

In [5]:
print(type("hello world"))

<class 'str'>

In [7]:
print(type({'name':'bhushan'}))

<class 'dict'>

### 3.Variables

In [56]:
# dynamic typing (automatic detect data type of variable)(run time)
# a=11

# static typing (need to tell data type of variable)(compile time)
# int a=5;

In [57]:
# dynamic binding
a=11
print(a)
a='Bhushan'
print(a)

11
Bhushan

In [58]:
a=1
b=2
c=3
print(a,b,c)

1 2 3

In [60]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [61]:
a=b=c=101
print(a,b,c)

101 101 101

### 4.Comment

In [65]:
# This is comment

### 5.Keywords & Identifiers

In [67]:
# keyword = Reserved words
# identifiers = variable name

### 6.User Input

In [72]:
# static vs dynamic
input("Enter Email: ")

Enter Email: bhushanrchitte2021@gmail.com

'bhushanrchitte2021@gmail.com'

### 7.Type Conversion

In [75]:
# implicit
print(1+1.1)
print(type(1),type(1.1))

2.1
<class 'int'> <class 'float'>

In [9]:
# explicit
#print(4+'4')

print(int(1.1))
print(str(5))
print(float(4))

1
5
4.0

In [12]:
print(1+int('11'))
print(1+int(1.1))
print(1.1+float(1))

12
2
2.1

### 8.Literals

In [87]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [89]:
x =1+ 3.14j
print(x.imag)
print(x.real)

3.14
1.0

In [20]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
😀😆🤣
raw \n string

In [91]:
# True=1, False=0
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [92]:
a=None
print(a)

None

### 9.Operators

In [4]:
# Arithmetic operators
print("5+2:",5+2)
print("5-2:",5-2)
print("5*2:",5*2)
print("5/2:",5/2)
print("5//2:",5//2)
print("5%2:",5%2)
print("5**2:",5**2)

5+2: 7
5-2: 3
5*2: 10
5/2: 2.5
5//2: 2
5%2: 1
5**2: 25

In [5]:
# Relational operators
print(5>1)
print(5<1)
print(4>=4)
print(5<=4)
print(1==1)
print(1!=1)

True
False
True
False
True
False

In [7]:
# logical operators
print(1 and 0) # 1^0=0
print(1 or 0) # 1or0=1
print(not 1)  # ~1=0

0
1
False

In [16]:
# Bitwise operators

# bitwise and
print(2 & 3)  # 2=0010 ,3=0011 -> 0010 and 0011= (0010) ->2

# bitwise or
print(2|3)   #2=0010 ,3=0011 -> 0010 or 0011= (0011) ->3

# bitwise xor
print(2^3)

print(~2)

print(4>>2)

print(5<<2)

2
3
1
-3
1
20

In [17]:
# Assignment operators
# =
# a=2

a=2

a+=2
a-=2
a*=2
a/=2

In [13]:
# Membership operators
# in/not in

print('D' in 'Delhi')
print('d' in 'Delhi')
print(1 not in [1,2,3])

True
False
False

In [5]:
# progrom to find sum of three digit number
num=int(input("Enter three digit num: "))

a=num % 10
#print(a)

num=num//10
#print(num)

b=num % 10
#print(b)

num=num//10
#print(num)

c=num % 10
#print(c)

print(a+b+c)

Enter three digit num: 123
6

In [6]:
# progrom to find sum of any digit number
num=input("Enter number: ")
add=[]

for i in range(len(num)):
    num=int(num)
    a=num%10
    add.append(a)
    num=num//10
    
print(sum(add))

Enter number: 123456789
45

### 10.if/else

In [40]:
email=input("Enter Email: ")
password=input("Enter Password: ")

if email=='abc@gmail.com' and password=='1207':
    print("!!! WELCOME !!!") 
elif email=='abc@gmail.com' and password!='1207':
    print("!!! Incorrect Password !!!")
elif email!='abc@gmail.com' and password=='1207':
    print("!!! Incorrect Email !!!")
else:
    print("!!! Yup, Invalid !!!")

Enter Email: abc@gmail.com
Enter Password: 1207
!!! WELCOME !!!

### 11.Module

In [42]:
# math
import math
math.sqrt(16)

4.0

In [45]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [48]:
# random
import random
print(random.randint(1,1000))

141

In [1]:
# datetime
import datetime
print(datetime.datetime.now())

2023-07-28 18:28:55.408076

In [51]:
help('modules')

Please wait a moment while I gather a list of all available modules...

WARNING: AstropyDeprecationWarning: The private astropy._erfa module has been made into its own package, pyerfa, which is a dependency of astropy and can be imported directly using "import erfa" [astropy._erfa]
C:\Users\DELL\anaconda3\lib\site-packages\caffe2\__init__.py:5: UserWarning: Caffe2 support is not fully enabled in this PyTorch build. Please enable Caffe2 by building PyTorch from source with `BUILD_CAFFE2=1` flag.
  warnings.warn("Caffe2 support is not fully enabled in this PyTorch build. "
C:\Users\DELL\anaconda3\lib\site-packages\caffe2\proto\__init__.py:17: UserWarning: Caffe2 support is not enabled in this PyTorch build. Please enable Caffe2 by building PyTorch from source with `BUILD_CAFFE2=1` flag.
  warnings.warn('Caffe2 support is not enabled in this PyTorch build. '
C:\Users\DELL\anaconda3\lib\site-packages\caffe2\proto\__init__.py:17: UserWarning: Caffe2 support is not enabled in this PyTorch build. Please enable Caffe2 by building PyTorch from source with `BUILD_CAFFE2=1` flag.
  warnings.warn('Caffe2 support is not enabled in this PyTorch build. '
C:\Users\DELL\anaconda3\lib\site-packages\caffe2\python\__init__.py:9: UserWarning: Caffe2 support is not enabled in this PyTorch build. Please enable Caffe2 by building PyTorch from source with `BUILD_CAFFE2=1` flag.
  warnings.warn('Caffe2 support is not enabled in this PyTorch build. '
C:\Users\DELL\anaconda3\lib\site-packages\paramiko\transport.py:219: CryptographyDeprecationWarning: Blowfish has been deprecated
  "class": algorithms.Blowfish,
C:\Users\DELL\anaconda3\lib\site-packages\llvmlite\llvmpy\__init__.py:3: UserWarning: The module `llvmlite.llvmpy` is deprecated and will be removed in the future.
  warnings.warn(
C:\Users\DELL\anaconda3\lib\site-packages\nltk\twitter\__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn(
C:\Users\DELL\anaconda3\lib\pkgutil.py:92: UserWarning: The numpy.array_api submodule is still experimental. See NEP 47.
  __import__(info.name)
C:\Users\DELL\anaconda3\lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")
C:\Users\DELL\anaconda3\lib\pkgutil.py:92: UserWarning:

viewer requires Qt

No QCoreApplication instance found. Application patches not applied. You have to call load_stylesheet function after instantiation of QApplication to take effect.
NOTE: Redirects are currently not supported in Windows or MacOs.
C:\Users\DELL\anaconda3\lib\pkgutil.py:107: VisibleDeprecationWarning:

zmq.eventloop.minitornado is deprecated in pyzmq 14.0 and will be removed.
    Install tornado itself to use zmq with the tornado IOLoop.

ComputedAttribute   conda_env           modulefinder        sockshandler
ExtensionClass      conda_pack          mpmath              sortedcontainers
IPython             conda_package_handling msgpack             soupsieve
MethodObject        conda_package_streaming msilib              sphinx
OpenSSL             conda_token         msvcrt              spyder
PIL                 conda_verify        multimethod         spyder_kernels
PyQt5               configparser        multipledispatch    sqlalchemy
Record              constantly          multiprocessing     sqlite3
TBB                 contextlib          munkres             sre_compile
__future__          contextvars         mypy_extensions     sre_constants
_abc                contourpy           mysql               sre_parse
_aix_support        cookiecutter        mysqlx              ssl
_argon2_cffi_bindings copy                nacl                sspi
_ast                copyreg             navigator_updater   sspicon
_asyncio            crypt               nbclassic           stack_data
_bisect             cryptography        nbclient            stat
_black_version      cssselect           nbconvert           statistics
_blake2             csv                 nbformat            statsmodels
_bootsubprocess     ctypes              nest_asyncio        string
_bz2                curl                netbios             stringprep
_cffi_backend       curses              netrc               struct
_codecs             cwp                 networkx            subprocess
_codecs_cn          cycler              nltk                sunau
_codecs_hk          cytoolz             nntplib             sympy
_codecs_iso2022     daal4py             notebook            symtable
_codecs_jp          dacite              notebook_shim       sys
_codecs_kr          dask                nt                  sysconfig
_codecs_tw          dataclasses         ntpath              tables
_collections        datashader          ntsecuritycon       tabnanny
_collections_abc    datashape           nturl2path          tabulate
_compat_pickle      datetime            numba               tangled_up_in_unicode
_compression        dateutil            numbergen           tarfile
_contextvars        dbi                 numbers             tbb
_csv                dbm                 numexpr             tblib
_ctypes             dde                 numpy               telnetlib
_ctypes_test        debugpy             numpydoc            tempfile
_datetime           decimal             odbc                tenacity
_decimal            decorator           onedal              terminado
_distutils_hack     defusedxml          opcode              test
_elementtree        diff_match_patch    opendatasets        test_pycosat
_functools          difflib             openpyxl            text_unidecode
_hashlib            dill                operator            textdistance
_heapq              dis                 optparse            textwrap
_imp                distributed         os                  this
_io                 distutils           packaging           threading
_json               docstring_to_markdown pandas              threadpoolctl
_locale             doctest             pandas_profiling    three_merge
_lsprof             docutils            pandocfilters       tifffile
_lzma               email               panel               time
_markupbase         encodings           param               timeit
_md5                ensurepip           paramiko            timer
_msi                entrypoints         parsel              tinycss2
_multibytecodec     enum                parso               tkinter
_multiprocessing    erfa                partd               tldextract
_nsis               errno               past                tlz
_opcode             et_xmlfile          pathlib             token
_operator           executing           pathspec            tokenize
_osx_support        fastjsonschema      patsy               tokenizers
_overlapped         faulthandler        pdb                 toml
_pickle             filecmp             pep8                tomli
_plotly_future_     fileinput           perfmon             tomlkit
_plotly_utils       filelock            pexpect             toolz
_py_abc             flake8              phik                torch
_pydecimal          flask               pickle              torchgen
_pyio               flit_core           pickleshare         tornado
_pyrsistent_version fnmatch             pickletools         tqdm
_pytest             fontTools           pip                 trace
_queue              fractions           pipes               traceback
_random             fsspec              pkg_resources       tracemalloc
_ruamel_yaml        ftplib              pkginfo             traitlets
_sha1               functools           pkgutil             transformers
_sha256             future              platform            tty
_sha3               gc                  platformdirs        turtle
_sha512             genericpath         plistlib            turtledemo
_signal             gensim              plotly              twisted
_sitebuiltins       getopt              pluggy              typeguard
_socket             getpass             ply                 types
_sqlite3            gettext             pooch               typing
_sre                glob                poplib              typing_extensions
_ssl                glob2               posixpath           ujson
_stat               graphlib            poyo                unicodedata
_statistics         greenlet            pprint              unidecode
_string             gzip                profile             unittest
_strptime           h5py                prometheus_client   uritools
_struct             hamcrest            prompt_toolkit      urlextract
_symtable           hashlib             protego             urllib
_system_path        heapdict            pstats              urllib3
_testbuffer         heapq               psutil              uu
_testcapi           hmac                pty                 uuid
_testconsole        holoviews           ptyprocess          venv
_testimportmultiple html                pure_eval           visions
_testinternalcapi   htmlmin             pvectorc            w3lib
_testmultiphase     http                py                  warnings
_thread             huggingface_hub     py_compile          watchdog
_threading_local    hvplot              pyasn1              wave
_tkinter            hyperlink           pyasn1_modules      wcwidth
_tracemalloc        idlelib             pyclbr              weakref
_uuid               idna                pycodestyle         webbrowser
_warnings           imagecodecs         pycosat             webencodings
_weakref            imagehash           pycparser           websocket
_weakrefset         imageio             pyct                werkzeug
_win32sysloader     imagesize           pycurl              whatthepatch
_winapi             imaplib             pydantic            wheel
_winxptheme         imblearn            pydispatch          widgetsnbextension
_xxsubinterpreters  imghdr              pydoc               win2kras
_yaml               imp                 pydoc_data          win32api
_zoneinfo           importlib           pydocstyle          win32clipboard
abc                 importlib_metadata  pyexpat             win32com
adodbapi            incremental         pyflakes            win32con
afxres              inflection          pygments            win32console
aifc                iniconfig           pylab               win32cred
alabaster           inspect             pylint              win32crypt
anaconda_navigator  intake              pylint_venv         win32cryptcon
anaconda_project    intervaltree        pyls_spyder         win32ctypes
antigravity         io                  pylsp               win32event
anyio               ipaddress           pylsp_black         win32evtlog
appdirs             ipykernel           pylsp_jsonrpc       win32evtlogutil
argon2              ipykernel_launcher  pyodbc              win32file
argparse            ipython_genutils    pyparsing           win32gui
array               ipywidgets          pyrsistent          win32gui_struct
arrow               isapi               pytest              win32help
ast                 isort               pythoncom           win32inet
astroid             isympy              pytoolconfig        win32inetcon
astropy             itemadapter         pytz                win32job
asttokens           itemloaders         pyviz_comms         win32lz
asynchat            itertools           pywin               win32net
asyncio             itsdangerous        pywin32_bootstrap   win32netcon
asyncore            jedi                pywin32_testutil    win32pdh
atexit              jellyfish           pywintypes          win32pdhquery
atomicwrites        jinja2              pywt                win32pdhutil
attr                jinja2_time         qdarkstyle          win32pipe
attrs               jmespath            qstylizer           win32print
audioop             joblib              qtawesome           win32process
automat             json                qtconsole           win32profile
autopep8            json5               qtpy                win32ras
babel               jsonpatch           queue               win32rcparser
backcall            jsonpointer         queuelib            win32security
backports           jsonschema          quopri              win32service
base64              jupyter             random              win32serviceutil
bcrypt              jupyter_client      rasutil             win32timezone
bdb                 jupyter_console     re                  win32trace
binaryornot         jupyter_core        regcheck            win32traceutil
binascii            jupyter_server      regex               win32transaction
binhex              jupyterlab          regutil             win32ts
binstar_client      jupyterlab_plotly   repo_cli            win32ui
bisect              jupyterlab_pygments reprlib             win32uiole
black               jupyterlab_server   requests            win32verstamp
blackd              jupyterlab_widgets  requests_file       win32wnet
bleach              jwt                 requests_toolbelt   win_inet_pton
blib2to3            kaggle              rlcompleter         wincertstore
bokeh               keyring             rope                winerror
boltons             keyword             rtree               winioctlcon
bottleneck          kiwisolver          ruamel_yaml         winnt
brotli              lazy_object_proxy   runpy               winperf
bs4                 lib2to3             sched               winpty
builtins            libarchive          scipy               winreg
bz2                 libfuturize         scrapy              winsound
cProfile            libpasteurize       seaborn             winxpgui
caffe2              lief                secrets             winxptheme
calendar            linecache           select              wordcloud
certifi             llvmlite            selectors           wrapt
cffi                locale              send2trash          wsgiref
cgi                 locket              service_identity    xarray
cgitb               logging             servicemanager      xdrlib
chardet             lxml                setuptools          xlwings
charset_normalizer  lz4                 shelve              xml
chunk               lzma                shlex               xmlrpc
click               mailbox             shutil              xxlimited
cloudpickle         mailcap             signal              xxlimited_35
clyent              markdown            sipbuild            xxsubtype
cmath               markupsafe          site                yaml
cmd                 marshal             six                 yapf
code                math                skimage             yapftests
codecs              matplotlib          sklearn             ydata_profiling
codeop              matplotlib_inline   sklearnex           zict
collections         mccabe              slugify             zipapp
colorama            menuinst            smart_open          zipfile
colorcet            mimetypes           smtpd               zipimport
colorsys            mistune             smtplib             zipp
comm                mkl                 snappy              zlib
commctrl            mkl_fft             sndhdr              zmq
compileall          mkl_random          sniffio             zoneinfo
concurrent          mmap                snowballstemmer     zope
conda               mmapfile            socket              zstandard
conda_build         mmsystem            socketserver
conda_content_trust mock                socks

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

### 12.loops

- while loop
- for loop

In [2]:
num=int(input("Enter number: "))

i=1
while i<11:
    print(num,"X",i,"=",num*i)
    i+=1

Enter number: 12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [4]:
# while loop with else

x=1

while x<3:
    print(x)
    x+=1
else:
    print("Limit crossed")

1
2
Limit crossed

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [7]:
current=10000

for i in range(10,0,-1):
    print(i,"=",current)
    current=current/1.1
    
    

# (x) + (10 % of x) = 10000
# x + 0.1x = 10000
# 1.1x = 10000
# x=(10000/1.1)

10 = 10000
9 = 9090.90909090909
8 = 8264.462809917353
7 = 7513.148009015775
6 = 6830.134553650703
5 = 6209.213230591548
4 = 5644.739300537771
3 = 5131.5811823070635
2 = 4665.07380209733
1 = 4240.976183724845

In [16]:
# sequence sum

n=int(input("Enter number: "))

result=0
fact=1

for i in range(1,n+1):
    fact=fact*i
    result=(result+(i/fact))

print(result)

Enter number: 5
2.708333333333333

# Nested loops

In [17]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [25]:
rows=int(input("Enter rows: "))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*',end=" ")
    print()

Enter rows: 12
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *

In [29]:
rows=int(input("Enter rows: "))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter rows: 10
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [8]:
rows=int(input("Enter rows: "))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end=" ")
    for k in range(i-1,0,-1):
        print(k,end=" ")
    print()

Enter rows: 10
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1
1 2 3 4 5 6 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 10 9 8 7 6 5 4 3 2 1

## loop control statement

### break

### continue

### pass

In [38]:
for i in range(1,10):
    if i==5:
        break
    print(i)
# e.g database system

1
2
3
4

In [9]:
for i in range(1,10):
    if i==5:
        print("-")
        continue
    print(i)
# e.g. in s/w where particular product stock empty

1
2
3
4
-
6
7
8
9

In [2]:
lower=int(input("Enter lower range: "))
upper=int(input("Enter upper range: "))

for i in range(lower,upper+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

Enter lower range: 2
Enter upper range: 11
2
3
5
7
11

In [46]:
for i in range(1,5):
    pass

## 13.Strings

### Strings are sequence of characters

### In python specifically, strings are a sequence of unicode characters

Creating strings

Accessing string

Adding Chars to string

Editing string

Deleting string

operations on string

string function

In [20]:
s='hello'
s="hello"
s='''hello'''
s="""hello"""
s=str(123)
print(s)

123

In [10]:
s="Hello World"

# positive indexing
print(s[0])
print(s[6])

# negative indexing
print(s[-1])
print(s[-4])

H
W
d
o

In [26]:
# slicing
s="Hello World"

print(s[1:5])

ello

In [27]:
print(s[0:5])

Hello

In [28]:
print(s[6:0:-1])

W olle

In [29]:
print(s[2:])

llo World

In [30]:
print(s[:4])

Hell

In [31]:
print(s[2:3])

l

In [32]:
print(s[:])

Hello World

In [33]:
print(s[0:6:2])

Hlo

In [34]:
print(s[-1:0:-1])

dlroW olle

In [35]:
print(s[6:0:-2])

Wol

In [36]:
print(s[0:-1])

Hello Worl

In [37]:
print(s[::-1])

dlroW olleH

In [38]:
print(s[-5:])

World

In [39]:
print(s[-1:-6:-1])

dlroW

In [3]:
# edit
s="Hello World"
s[0]='f'
# this is not possible because string is immutable

TypeError: 'str' object does not support item assignment

In [82]:
# delete
s="Hello World"
del s  # by using del 
print(s)

NameError: name 's' is not defined

In [84]:
# we cannot delete particular part of string.
s="Hello World"
del s[-1:-5:2]
print(s)

TypeError: 'str' object does not support item deletion

In [90]:
# operation on string
# arithmetic
# relational
# logical
# loops on string
# membership

In [96]:
print('hello'+" "+'world')

hello world

In [97]:
print('hello'*5)

hellohellohellohellohello

In [98]:
print('*'*50)

**************************************************

In [99]:
'delhi'=='delhi'

True

In [100]:
'delhi'!='delhi'

False

In [102]:
'mumbai'>'pune'
# lexiographically

False

In [104]:
'PUNE'<'pune'

True

In [107]:
# empty string=false
# string with char=True
'hello' and 'world'

'world'

In [108]:
'hello' or 'world'

'hello'

In [110]:
# F and T = F
'' and 'hello'

''

In [111]:
# F or T = T
'' or 'hello'

'hello'

In [113]:
'hello' or 'world'

'hello'

In [114]:
'hello' and 'world'

'world'

In [115]:
not ''

True

In [116]:
not 'hello'

False

In [117]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [118]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

In [119]:
'D' in 'Delhi'

True

In [21]:
'd' not in 'Delhi'

True

In [128]:
# common functions (this work with all)

In [129]:
len('hello')

5

In [130]:
max('hello')

'o'

In [131]:
min('hello')

'e'

In [132]:
sorted('bhushan')

['a', 'b', 'h', 'h', 'n', 's', 'u']

In [133]:
sorted('bhushan',reverse=True)

['u', 's', 'n', 'h', 'h', 'b', 'a']

In [137]:
# capitalze/title/upper/lower/swapcase (this work only on string)
s='hello world'

In [4]:
s.capitalize() # capital string first letter

'Hello world'

In [5]:
s.title() # capital every word first letter

'Hello World'

In [140]:
s.upper()

'HELLO WORLD'

In [143]:
'HELLO BHUSHAN'.lower()

'hello bhushan'

In [144]:
'hElLO WoRld'.swapcase()

'HeLlo wOrLD'

In [145]:
# count/find/index

In [146]:
'my name is bhushan'.count('h')

2

In [148]:
'my name is bhushan'.find('is')

8

In [151]:
'my name is bhushan'.find('z')

-1

In [153]:
'my name is bhushan'.index('z')

ValueError: substring not found

In [154]:
'my name is bhushan'.index('i')

8

In [40]:
# endswith/startswith

In [44]:
'my name is bhushan'.endswith('an')

True

In [45]:
'my name is bhushan'.startswith('an')

False

In [46]:
# format

In [48]:
name='BHUSHAN'
gender='MALE'

In [57]:
'my name is {} and i am a {}'.format(name,gender)

'my name is BHUSHAN and i am a MALE'

In [58]:
'my name is {} and i am a {}'.format(gender,name)

'my name is MALE and i am a BHUSHAN'

In [59]:
'my name is {1} and i am a {0}'.format(gender,name)

'my name is BHUSHAN and i am a MALE'

In [60]:
'my name is {0} and i am a {1}'.format(name,gender)

'my name is BHUSHAN and i am a MALE'

In [61]:
# isalnum/isalpha/isdigit/isidentifier

In [63]:
'bhushan1207'.isalnum()

True

In [64]:
'bhushan1207%'.isalnum()

False

In [65]:
'bhushan'.isalpha()

True

In [66]:
'1207'.isdigit()

True

In [67]:
'_'.isidentifier()

True

In [68]:
'12abc'.isidentifier()

False

In [69]:
# split,join

In [74]:
'my name is bhushan'.split()

['my', 'name', 'is', 'bhushan']

In [77]:
'my name is bhushan'.split('i')

['my name ', 's bhushan']

In [78]:
'my name is bhushan'.split('is')

['my name ', ' bhushan']

In [81]:
" ".join(['my', 'name', 'is', 'bhushan'])

'my name is bhushan'

In [82]:
"-".join(['my', 'name', 'is', 'bhushan'])

'my-name-is-bhushan'

In [83]:
# replace

In [84]:
'my name is bhushan'.replace('bhushan','shubham')

'my name is shubham'

In [90]:
# strip

In [91]:
'bhushan                                     '.strip()

'bhushan'

# programming problem on Strings

In [95]:
s=input("Enter the string: ")

counter=0

for i in s:
    counter+=1

print("The length of string: ",counter)

Enter the string: bhushan
The length of string:  7

In [96]:
s=input("Enter the email: ")

pos=s.index('@')
print(s[0:pos])

Enter the email: bhushan@gmail.com
bhushan

In [97]:
s=input("Enter string: ")
term=input("What would like to search for: ")

counter=0

for i in s:
    if i==term:
        counter+=1

print("Frequency: ",counter)

Enter string: bhushanramchandrachitte
What would like to search for: a
Frequency:  4

In [98]:
s=input("Enter string: ")
term=input("What would like to remove: ")

result=""

for i in s:
    if i!=term:
        result=result+i
        
print(result)

Enter string: bhushan
What would like to remove: a
bhushn

In [100]:
s=input("Enter string: ")

flag=True

for i in range(0,len(s)//2):
    if s[i]!=s[len(s)-i-1]:
        flag=False
        print("Not a Palindrome")
        break

if flag:
    print("Palindrome")

Enter string: mum
Palindrome

In [101]:
s=input("Enter string: ")
l=[]
temp=""

for i in s:
    if i!=" ":
        temp=temp+i
    else:
        l.append(temp)
        temp=""
        
l.append(temp)
print(l)

Enter string: hi how are you
['hi', 'how', 'are', 'you']

In [105]:
s=input("Enter string: ")
l=[]

for i in s.split():
    l.append(i[0].upper()+i[1:].lower())
    
print(" ".join(l))

Enter string: hi how are you
Hi How Are You

In [108]:
num=int(input("Enter number: "))

digits='0123456789'
result=''

while num!=0:
    result=digits[num%10]+result
    num=num//10

print(result)
print(type(result))

Enter number: 345
345
<class 'str'>

# google used PageRank Algo

## 14.Time and Space Complexity

In [2]:
# time complexity
# technique

In [11]:
# a) measuring time to execute
import time
start=time.time()
for i in range(1,100):
    print('*',end='')
end=time.time()
print(end-start)
# b) counting operations involved
# c) abstract notion of order of growth

***************************************************************************************************0.001066446304321289

In [13]:
# b) counting operations involved

In [1]:
# c) abstract notion of order of growth
# types of order of growth
# a)constant
# b)linear
# c)quadratic
# d)logarithmic
# e)nlogn
# f)exponential

## 15.Python list

1)what are lists?
- list is a data type where you can store multiple items under single variable

2)array vs list
- fixed vs dynamic size
- convenience->heterogeneous
- speed of execution
- memory

3)characteristics of a list
- ordered,mutable,heterogeneous,duplicate,dynamic,nested,items can be accessed,can contain any kind of objects in python

4)how to create a list

In [16]:
# empty
print([])

#1d
print([1,2,3])

#2d
print([1,2,[3,4]]) # heterogeneous list:- int and list combination

# 3d
print([[[1,2],[3,4]],[[5,6],[7,8]]])

# heterogeneous
print([1,True,1.1,'hello'])

# using type conversion
print(list('hello'))

[]
[1, 2, 3]
[1, 2, [3, 4]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 1.1, 'hello']
['h', 'e', 'l', 'l', 'o']

5)access items from a list

In [33]:
l=[1,2,3,4,5]

# 1d indexing
print(l[0])
print(l[4])
print(l[-1])
print(l[-5])

1
5
5
1

In [34]:
l=[1,2,[3,4]]

# 2d indexing
print(l[2][0])
print(l[2][1])
print(l[-1][-1])
print(l[-1][-2])

3
4
4
3

In [35]:
l=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

# 3d indexing
print(l[0][0][0])
print(l[0][0][1])
print(l[0][1][0])
print(l[0][1][1])
print(l[1][0][0])
print(l[1][0][1])
print(l[1][1][0])
print(l[1][1][1])

1
2
3
4
5
6
7
8

In [4]:
l=[1,2,3,4,5]

# slicing
print(l[0:3])
print(l[-3:-1])
print(l[-3:])
print(l[0:])
print(l[0::2])
print(l[-4:-1:2])
print(l[::-1])

[1, 2, 3]
[3, 4]
[3, 4, 5]
[1, 2, 3, 4, 5]
[1, 3, 5]
[2, 4]
[5, 4, 3, 2, 1]

6)Adding items to a list

In [53]:
# append(single item)
l=[1,2,3]

l.append(4)
print(l)

l.append([4,5,6])
print(l)

[1, 2, 3, 4]
[1, 2, 3, 4, [4, 5, 6]]

In [54]:
# extend(multiple item)
l=[1,2,3]

l.extend([4,5,6])
print(l)

l.extend('mumbai')
print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 'm', 'u', 'm', 'b', 'a', 'i']

In [56]:
# insert
l=[1,2,3,4]

l.insert(2,100) #insert(pos,item)
print(l)

[1, 2, 100, 3, 4]

7)editing items in a list

In [60]:
l=[1,2,3,4,5]

# editing with indexing
l[-1]=0
print(l)

l[0]=0
print(l)

# editing with slicing
l[1:4]=[200,300,400]
print(l)

[1, 2, 3, 4, 0]
[0, 2, 3, 4, 0]
[0, 200, 300, 400, 0]

8)deleting items from a list

In [73]:
# del(used when actually item index position know)
l=[1,2,3,4,5]
#del l

# del with indexing
del l[-1]
print(l)

# del with slicing
del l[1:3]
print(l)

[1, 2, 3, 4]
[1, 4]

In [74]:
# remove(used when item index position not know)
l=[1,2,3,4,5]

l.remove(5)

print(l)

[1, 2, 3, 4]

In [79]:
# pop
l=[1,2,3,4,5]
l.pop(0)  # provide index pos
print(l)

l=[1,2,3,4,5]
l.pop()  # default del the last item
print(l)

[2, 3, 4, 5]
[1, 2, 3, 4]

In [80]:
# clear
l=[1,2,3,4,5]

l.clear()

print(l)

[]

9)operations on lists

In [6]:
# arithmetic(+ *)
l1=[1,2,3]
l2=[4,5,6]

print(l1+l2)
print(l1*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [7]:
# membership
l1=[1,2,3]
l2=[4,5,6,[1,2]]

print(5 in l2)
print(5 not in l2)
print(1 in l2)
print([1,2] in l2)

True
False
False
True

In [8]:
# loop
l=[1,2,3,4,5,6]

for i in l:
    print(i)

1
2
3
4
5
6

In [9]:
l=[1, 2, [3, 4]]

for i in l:
    print(i)

1
2
[3, 4]

In [10]:
l=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

for i in l:
    print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

10)functions on lists

In [31]:
# len/min/max/sorted/sum
l=[6,2,3,4,1,5]

print(len(l))
print(min(l))
print(max(l))
print(sum(l))

# sorted=this is temporary operation
print(sorted(l))
print(sorted(l,reverse=True))

6
1
6
21
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [12]:
# count
l=[1,2,2,2,3,4,5,6]

print(l.count(2))
print(l.count(5))

3
1

In [13]:
# index
l=[1,2,3,2,2,4,3,4,5,6]

print(l.index(2))
print(l.index(5))
print(l.index(3))

1
8
2

In [14]:
# reverse
l=[1,2,3,2,2,4,3,4,5,6]
# this is permenent operation
l.reverse()
print(l)

[6, 5, 4, 3, 4, 2, 2, 3, 2, 1]

In [15]:
# sort (this is permenent operation)
l=[6,2,3,4,1,5]
l.sort()
print(l)

[1, 2, 3, 4, 5, 6]

In [16]:
# copy
l=[6,2,3,4,1,5]
print(l)
print(id(l))
l1=l.copy()
print(l1)
print(id(l1))

[6, 2, 3, 4, 1, 5]
2543137162176
[6, 2, 3, 4, 1, 5]
2543137212864

## List Comprehension

### newlist=[expression for item in iterable if condition==True]

### Advantages of list comprehension

- more time efficient and space efficient than loops
- require fewer lines of code
- transform iterative statement into a formula

In [2]:
l=[i for i in range(1,11)]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
v=[2,3,4]
s=-3

[s*i for i in v]

[-6, -9, -12]

In [26]:
l=[1,2,3,4,5]
[i**2 for i in l]

[1, 4, 9, 16, 25]

In [27]:
[i for i in range(1,51) if i%5==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [32]:
lang=['java','python','php','c','javascript']
[i for i in lang if i.startswith('p')]
#[lang for lang in lang if lang.startswith('p')]

['python', 'php']

In [33]:
basket=['apple','grapes','guava','cherry','banana']
my_fruits=['apple','kiwi','banana','grapes']

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [34]:
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [35]:
l1=[1,2,3,4]
l2=[5,6,7,8]
[i*j for i in l1 for j in l2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

### Two ways to traverse a list

- itemwise
- indexwise

In [36]:
# itemwise
l=[1,2,3,4]

for i in l:
    print(i)

1
2
3
4

In [39]:
# indexwise
l=[1,2,3,4]

for i in range(0,len(l)):
    print(i)

0
1
2
3

In [41]:
l=[1,2,3,4]

for i in range(0,len(l)):
    print(l[i])

1
2
3
4

In [42]:
l=[1,2,3,4]

for i in range(0,len(l)):
    print(i,'=',l[i])

0 = 1
1 = 2
2 = 3
3 = 4

## Zip

In [44]:
l1=[1,2,3,4]
l2=[-1,-2,-3,-4]

zip(l1,l2)

In [46]:
l1=[1,2,3,4]
l2=[-1,-2,-3,-4]

list(zip(l1,l2))

[(1, -1), (2, -2), (3, -3), (4, -4)]

In [5]:
l1=[1,2,3,4]
l2=[-1,-2,-3,-4]

[(i+j) for i,j in zip(l1,l2)]

[0, 0, 0, 0]

## Disadvantages of python lists
- slow
- Risky usage
- eat up more memory

# 16.Python Tuple

- A tuple in python is similar to a list.a tuple is immutable

### characteristics:

- ordered

- unchangeble

- allow duplicate

### 1.creating a tuple

In [2]:
# empty
print(())

# homo
t1=(1,2,3,4,5)
print(t1)

# hetro
t1=(1,2.5,True,'hello')
print(t1)

# 2d tuple
t1=(1,2,(3,4))
print(t1)

# using type conversion
t1=tuple('hello')
print(t1)

()
(1, 2, 3, 4, 5)
(1, 2.5, True, 'hello')
(1, 2, (3, 4))
('h', 'e', 'l', 'l', 'o')

In [3]:
# creating a tuple with a single item
t1=('hello')   # this create a string not a tuple
print(t1)
print(type(t1))

t1=('hello',)   # this create tuple with single item
print(t1)
print(type(t1))

hello
<class 'str'>
('hello',)
<class 'tuple'>

### 2.accessing items

In [12]:
t=(1,2,3,4,5)

# indexing
print(t[0])
print(t[-1])

# slicing
print(t[1:3])
print(t[::-1])
print(t[-1:-5:-1])

1
5
(2, 3)
(5, 4, 3, 2, 1)
(5, 4, 3, 2)

### 3.editing items

In [14]:
t=(1,2,3,4,5) # this not happen bacause tuple immutable

t[0]=0
print(t)

TypeError: 'tuple' object does not support item assignment

### 4.adding items

In [15]:
t=(1,2,3,4,5)
# not possible

### 5.deleting items

In [18]:
# in tuple we can delete whole tuple but not particular item 
t=(1,2,3,4,5)
del t
# del t[0]
print(t)

NameError: name 't' is not defined

### 6.operations on tuple

In [20]:
# + and *
t1=(1,2,3)
t2=(4,5,6)

print(t1+t2)
print(t1*3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [22]:
# membership
t=(1,2,3,4,5)
print(3 in t)
print(5 not in t)

True
False

In [23]:
# iteration
t=(1,2,3,4,5)

for i in t:
    print(i)

1
2
3
4
5

### 7.tuple functions

In [26]:
# len/min/max/sorted/sum
t=(6,1,5,2,4,3)

print(len(t))
print(min(t))
print(max(t))
print(sum(t))
print(sorted(t))
print(sorted(t,reverse=True))

6
1
6
21
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [29]:
# count
t=(1,2,3,4,5)
t.count(5)

1

In [6]:
# index
t=(1,2,3,4,5)
t.index(5)

4

## Difference between list and tuple

- syntax

In [32]:
list=[]
tuple=()

- mutability

In [34]:
#list=mutable
#tuple=immutable

- speed

In [6]:
# tuple faster than list (generally immutable data type faster than mutable data type)
import time 

l=list(range(10000000))
t=tuple(range(10000000))

start=time.time()

for i in l:
    i*5
print("list time: ",time.time()-start)


start=time.time()

for i in t:
    i*5
print("tuple time: ",time.time()-start)

list time:  1.4696216583251953
tuple time:  1.4568612575531006

- memory

In [3]:
import sys

l=list(range(1000000))
t=tuple(range(1000000))

print("list size:",sys.getsizeof(l))
print("tuple size:",sys.getsizeof(t))

list size: 8000056
tuple size: 8000040

- built in functionality

- error prone

- usability

# Special Syntax

In [60]:
# tuple unpacking
a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [61]:
a,b=(1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [64]:
a=1
b=2

a,b=b,a

print(a)
print(b)

2
1

In [65]:
a,b,*others=(1,2,3,4)
print(a)
print(b)
print(others)

1
2
[3, 4]

In [68]:
# zip tuple
a=(1,2,3)
b=(4,5,6)

zip(a,b)

In [1]:
a=(1,2,3)
b=(4,5,6)

tuple(zip(a,b))

((1, 4), (2, 5), (3, 6))

# 17.Sets

A set is an unordered collection of items.Every set element is unique (no duplicates) and must be immutable (cannot be changed).
however,a set itself is mutable. we can add or remove items from it.
sets can also be used to perform mathematical set operation like union,intersection,symmetric difference,etc

### - characteristics:

- unordered

- mutable

- no duplicate

- can't contain mutable data types

### 1.creating a sets

In [15]:
# empty
s={}  # this create an empty dict
print(s)
print(type(s))

s=set()
print(s)
print(type(s))

{}
<class 'dict'>
set()
<class 'set'>

In [18]:
# 1d & 2d
s={1,2,3}
print(s)

#s={1,2,{3,4}}  this not possible

{1, 2, 3}

In [25]:
# homo and hetero
s={1,2,'hello'}
print(s)

s={1,2,'hello',True}  # True=1
print(s)

s={1,2,'hello',(1,2)}
print(s)

{1, 2, 'hello'}
{1, 2, 'hello'}
{1, 2, (1, 2), 'hello'}

In [26]:
# using type conversion
s=set([1,2,3])
print(s)

{1, 2, 3}

In [27]:
# duplicate not allow
s={1,1,2,3,3,4,5,5}
print(s)

{1, 2, 3, 4, 5}

In [1]:
# set can't have mutable items (set is mutable but it cannot have mutable data type)

s={1,2,'hello',[1,2]}
print(s)

TypeError: unhashable type: 'list'

In [2]:
s1={1,2,3}
s2={3,1,2}
print(s1==s2)

True

### 2.Accessing items

In [4]:
s={1,2,3,4,5}
print(s[0])
print(s[0:3])
# indexing and slicing not allow, we cannot change the items of set

TypeError: 'set' object is not subscriptable

### 3.Editing items

In [6]:
s={1,2,3}
s[0]=0
print(s)
# this not happen in set

TypeError: 'set' object does not support item assignment

### 4.Adding items

In [8]:
s={1,2,3}
# add
s.add(0)
print(s)

{0, 1, 2, 3}

In [10]:
s={1,2,3}
# update
s.update([4,5,6])
print(s)

{1, 2, 3, 4, 5, 6}

### 5.deleting items

In [13]:
s={1,2,3}

print(s)
# del
del s
print(s)

{1, 2, 3}

NameError: name 's' is not defined

In [15]:
s={1,2,3}

# discard
s.discard(3)
print(s)

s.discard(30)
print(s)

{1, 2}
{1, 2}

In [17]:
s={1,2,3}

# remove
s.remove(3)
print(s)

s.remove(50)
print(s)

{1, 2}

KeyError: 50

In [19]:
s={1,2,3}

# pop (randomly delete items)
s.pop()
print(s)

{2, 3}

In [20]:
s={1,2,3}

# clear
s.clear()
print(s)

set()

### 6.Set operation

In [22]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}

In [23]:
# union
s1|s2

{1, 2, 3, 4, 5, 6, 7}

In [25]:
# intersection
s1&s2

{3, 4, 5}

In [28]:
# difference
print(s1-s2)
print(s2-s1)

{1, 2}
{6, 7}

In [30]:
# symmetric diff
s1^s2

{1, 2, 6, 7}

In [33]:
# membership
print(1 in s1)
print(1 in s2)
print(1 not in s1)

True
False
False

In [34]:
# iteration
s={1,2,3,4,5}

for i in s:
    print(i)

1
2
3
4
5

### 7.Set function

In [35]:
# len/min/max/sum/sorted
s={4,5,3,1,2}

print(len(s))
print(min(s))
print(max(s))
print(sum(s))
print(sorted(s))
print(sorted(s,reverse=True))

5
1
5
15
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [65]:
# union
s1={1,2,3,4,5}
s2={4,5,6,7,8}

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [39]:
# update
s1={1,2,3,4,5}
s2={4,5,6,7,8}

s1.update(s2)  # s1 update with s2
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [40]:
# intersection
s1={1,2,3,4,5}
s2={4,5,6,7,8}

s1.intersection(s2)

{4, 5}

In [43]:
# intersection_update
s1={1,2,3,4,5}
s2={4,5,6,7,8}

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [48]:
# difference
s1={1,2,3,4,5}
s2={4,5,6,7,8}

s1.difference(s2)

{1, 2, 3}

In [50]:
# difference_update
s1={1,2,3,4,5}
s2={4,5,6,7,8}

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [52]:
# symmetric_difference
s1={1,2,3,4,5}
s2={4,5,6,7,8}

s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [53]:
# symmetric_difference_update
s1={1,2,3,4,5}
s2={4,5,6,7,8}

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [55]:
# isdisjoint
s1={1,2,3}
s2={4,5,6}

s1.isdisjoint(s2)

True

In [60]:
# issubset
s1={1,2,3,4,5}
s2={2,3,4}

s2.issubset(s1)

True

In [61]:
# issuperset
s1={1,2,3,4,5}
s2={2,3,4}

s1.issuperset(s2)

True

In [63]:
# copy
s1={1,2,3}

s2=s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

# 18.Frozenset

- frozen set is just an immutable version of a python set object

### 1.create frozenset

In [64]:
fs=frozenset([1,2,3])
fs

frozenset({1, 2, 3})

In [66]:
# frozenset works with all read functions and don't work with write functions

In [67]:
# 2d set
fs=frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

## Set comprehension

In [71]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [72]:
{i for i in range(1,11) if i%2==0}

{2, 4, 6, 8, 10}

In [73]:
{i**2 for i in range(1,11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

# 19.Dictionary

- Dict in python is a collection of keys values, used to store data values like a map, which unlike other data types which hold only a single value as an element

### - characteristics

- Mutable

- indexing has no meaning

- keys can't duplicated

- keys can't be mutable items

### 1.create dict

In [74]:
# empty dict
d={}
print(d)

{}

In [75]:
# 1D
d={'name':'bhushan','age':20}
print(d)

{'name': 'bhushan', 'age': 20}

In [77]:
# with mixed keys
d={(1,2,3):1,'hello':'world'}
d

{(1, 2, 3): 1, 'hello': 'world'}

In [78]:
# 2D
d={
    'name':'bhushan',
    'college':'MET',
    'sem':4,
    'subjects':{
        'DSA':90,
        'STAT':90,
        'IOT':90
    }
}

d

{'name': 'bhushan',
 'college': 'MET',
 'sem': 4,
 'subjects': {'DSA': 90, 'STAT': 90, 'IOT': 90}}

In [81]:
# using sequence and dict functions
d=dict([(1,1),(2,2),(3,3)])  # list of tuple
print(d)

d=dict([('name','bhushan'),('age',2),(3,3)])
print(d)

{1: 1, 2: 2, 3: 3}
{'name': 'bhushan', 'age': 2, 3: 3}

In [84]:
# duplicate keys not allow
d={'name':'bhushan','name':'shubham'}
d

{'name': 'shubham'}

In [85]:
# mutable items as key not allow
d={'name':'bhushan',[1,2,3]:1}
d

TypeError: unhashable type: 'list'

### 2.Accessing items

In [87]:
d={'name':'bhushan','age':20}
d[0] # this not allow

KeyError: 0

In [90]:
d={'name':'bhushan','age':20}

# []
print(d['name'])
print(d['age'])

bhushan
20

In [92]:
# get
print(d.get('name'))
print(d.get('age'))

bhushan
20

In [113]:
d={'name': 'bhushan',
 'college': 'MET',
 'sem': 4,
 'subjects': {'DSA': 90, 'STAT': 90, 'IOT': 90}}

d['subjects']['DSA']

90

### 3.Adding key-value pair

In [94]:
d={'name':'bhushan','age':20}

d['gender']='male'
d['clg']='MET'
print(d)

{'name': 'bhushan', 'age': 20, 'gender': 'male', 'clg': 'MET'}

In [114]:
d={'name': 'bhushan',
 'college': 'MET',
 'sem': 4,
 'subjects': {'DSA': 90, 'STAT': 90, 'IOT': 90}}

d['subjects']['SE']=90
d

{'name': 'bhushan',
 'college': 'MET',
 'sem': 4,
 'subjects': {'DSA': 90, 'STAT': 90, 'IOT': 90, 'SE': 90}}

### 4.Remove key-value pair

In [106]:
d={'name': 'bhushan', 'age': 20, 'gender': 'male', 'clg': 'MET'}

# pop
d.pop('gender')
d

{'name': 'bhushan', 'age': 20, 'clg': 'MET'}

In [109]:
d={'name': 'bhushan', 'age': 20, 'gender': 'male', 'clg': 'MET'}

# popitem (last item remove)
d.popitem()
print(d)

{'name': 'bhushan', 'age': 20, 'gender': 'male'}

In [111]:
d={'name': 'bhushan', 'age': 20, 'gender': 'male', 'clg': 'MET'}

# del
del d['name']
print(d)

{'age': 20, 'gender': 'male', 'clg': 'MET'}

In [112]:
d={'name': 'bhushan', 'age': 20, 'gender': 'male', 'clg': 'MET'}

# clear
d.clear()
print(d)

{}

In [117]:
d={'name': 'bhushan',
 'college': 'MET',
 'sem': 4,
 'subjects': {'DSA': 90, 'STAT': 90, 'IOT': 90, 'SE': 90}}

del d['subjects']['STAT']
d

{'name': 'bhushan',
 'college': 'MET',
 'sem': 4,
 'subjects': {'DSA': 90, 'IOT': 90, 'SE': 90}}

### 5.Editing key-value pair

In [119]:
d={'name': 'bhushan',
 'college': 'MET',
 'sem': 4,
 'subjects': {'DSA': 90, 'STAT': 90, 'IOT': 90, 'SE': 90}}

d['sem']=5
d['subjects']['STAT']=99
d

{'name': 'bhushan',
 'college': 'MET',
 'sem': 5,
 'subjects': {'DSA': 90, 'STAT': 99, 'IOT': 90, 'SE': 90}}

### 6.Dict operation

In [123]:
# membership
d={'name': 'bhushan',
 'college': 'MET',
 'sem': 4,
 'subjects': {'DSA': 90, 'STAT': 90, 'IOT': 90, 'SE': 90}}

print('bhushan'in d) # this give false because this operation check the key not value
print('name' in d)

False
True

In [125]:
# iteration
d={'name': 'bhushan',
 'college': 'MET',
 'sem': 4,
 'DSA': 90
  }

for i in d:
    print(i,d[i])

name bhushan
college MET
sem 4
DSA 90

### 7.Dict func

In [131]:
# len/sorted
d={'name': 'bhushan',
 'college': 'MET',
 'sem': 4,
 'DSA': 90
  }

print(len(d))
print(sorted(d))
print(sorted(d,reverse=True))
print(max(d))
print(min(d))

4
['DSA', 'college', 'name', 'sem']
['sem', 'name', 'college', 'DSA']
sem
DSA

In [133]:
d={'name': 'bhushan',
 'college': 'MET',
 'sem': 4,
 'DSA': 90
  }

# items  (create a list in the form of tuple of key-value pair)
d.items()

dict_items([('name', 'bhushan'), ('college', 'MET'), ('sem', 4), ('DSA', 90)])

In [134]:
d={'name': 'bhushan',
 'college': 'MET',
 'sem': 4,
 'DSA': 90
  }

# keys
d.keys()

dict_keys(['name', 'college', 'sem', 'DSA'])

In [135]:
d={'name': 'bhushan',
 'college': 'MET',
 'sem': 4,
 'DSA': 90
  }

# values
d.values()

dict_values(['bhushan', 'MET', 4, 90])

In [138]:
# update
d1={1:2,3:4,4:5}
d2={4:7,6:8}

print(d1)
print(d2)

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 5}
{4: 7, 6: 8}
{1: 2, 3: 4, 4: 7, 6: 8}

## Dict comprehension

### { key : value for vars in iterable }

In [139]:
{ i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [140]:
d={'delhi':1000,'mumbai':2000,'nashik':3000}
{key:value*0.62 for (key,value) in d.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'nashik': 1860.0}

### Zip

In [141]:
d={'sun','mon','tues','wed','thur','fri','sat'}
t={30,31,32,33,34,35,36}

{i:j for (i,j) in zip(d,t)}

{'sun': 32, 'wed': 33, 'thur': 34, 'mon': 35, 'sat': 36, 'tues': 30, 'fri': 31}

In [142]:
prod={'phone':10,'laptop':0,'charger':31,'tablet':0}
{key:value for (key,value) in prod.items() if value>0}

{'phone': 10, 'charger': 31}

In [143]:
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

# 20.Function in python

- Abstraction

- decomposition

### 1.create func

In [149]:
def is_even(num):
    """
    This function return if a given number is odd or even
    input-any valid integer
    output-odd/even
    created on-30th july 2023
    created by-Bhushan VR Chitte
    """
    if type(num)==int:
        if num%2==0:
            return 'Even'
        else:
            return 'Odd'
    else:
        return 'pagal hai kya ? !!!'

In [177]:
print(is_even.__doc__)

    This function return if a given number is odd or even
    input-any valid integer
    output-odd/even
    created on-30th july 2023
    created by-Bhushan VR Chitte

In [178]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [150]:
# func_name(input)
for i in range(1,11):
    x=is_even(i)
    print(x)

Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even

In [151]:
is_even('hello')

'pagal hai kya ? !!!'

### 2.Parameter vs Argument

- func created time it called parameter

- func called time it called argument

### 3.Types of Arguments

- Default

In [159]:
def power(a=1,b=1):
    return a**b

In [160]:
power(2,2)

4

In [162]:
power(2)

2

In [164]:
power()

1

- Positional

In [166]:
power(2,3)  # a=2,b=3 this because form a seq of argument

8

- Keyword

In [167]:
power(b=2,a=3)

9

### 4.*args and **kwargs

- This are special python keywords that are used to pass the variable length of arguments to a function

In [179]:
# *args (we can also write it as a *bhushan,*clg,*shubham)
# Allow us to pass a number of variable (non-keyword) to a function.
# This stores the item in the (tuple)

def multiply(*bhushan):
    prod=1
    
    for i in bhushan:
        prod=prod*i
    
    
    print(bhushan)
    print(type(bhushan))
    return prod

In [180]:
multiply(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

120

In [3]:
# **kwargs
# **kwargs allow us to pass any number of (keyword) arguments.
# keyword arguments mean that they contain a key-value pair,like a python dict

def display(**kwargs):
    for (key,value) in kwargs.items():
        print(key,'->',value)

In [4]:
display(india='delhi',srilanka='colombo',nepal='kathmandu')

india -> delhi
srilanka -> colombo
nepal -> kathmandu

### Key Points:

- order of the arguments matter( normal -> *args -> **kwargs )
- The words 'args' and 'kwargs' are only a convention you can use any name of your choice

### 5.How func are executed in memory

In [189]:
# Run this code on python tutor
def is_even(num):
    if num%2==0:
        return 'Even'
    else:
        return 'Odd'


print(is_even(7))

Odd

### 6.Without return function

In [194]:
# Run this code on python tutor
def is_even(num):
    if num%2==0:
        print('Even')
    else:
        print('Odd')

# if we not write return in the func then python send default value None at the function calling position that print the None as a output
print(is_even(7))
# is_even(7)

Odd
None

In [195]:
l=[1,2,3]
print(l.append(4))

None

### 7.variable scope

In [197]:
def g(y):
    # local var
    print(x)
    print(x+1)

# global var
x=5
g(x)
print(x)

5
6
5

In [3]:
# local and global are independent they can use same var name
def f(y):
    x=1
    print('x=1',id(x))
    x+=1
    print('x=2',id(x))
    print(x)

x=5
print('x=5',id(x))
f(x)
print(x)
print('x=5',id(x))

x=5 2278426083696
x=1 2278426083568
x=2 2278426083600
2
5
x=5 2278426083696

In [202]:
def h(y):
    x+=1  # if var is not present in function then function use global var but function can not change it original value

x=5
h(x)
print(x)

UnboundLocalError: local variable 'x' referenced before assignment

In [205]:
def h(y):
    global x  # we change the value of global var by using global keyword
    x+=1  

x=5
h(x)
print(x)

6

In [206]:
def f(x):
    x=x+1
    print('in func: ',x)
    return x

x=3
z=f(x)
print('main program scope: ',z)
print('main program scope: ',x)

in func:  4
main program scope:  4
main program scope:  3

### 8.nested func

In [4]:
def f():
    def g():
        print('inside g')
    g()
    print('inside f')
    
f()

inside g
inside f

In [1]:
# infinite
'''
def f():
    def g():
        print('inside g')
        f()
    g()
    print('inside f')
    
f()
'''

"\ndef f():\n    def g():\n        print('inside g')\n        f()\n    g()\n    print('inside f')\n    \nf()\n"

In [7]:
def g(x):
    def h():
        x='abc'
    x=x+1
    print('in g(x): x=',x)
    h()
    return x

x=3
print(g(x))
print(x)

in g(x): x= 4
4
3

### 9.Functions are 1st class citizens

In [10]:
# type and id
def sq(num):
    return num**2

print(type(sq))
print(id(sq))
# python treat function like a data type

<class 'function'>
2098554664080

In [11]:
# reassign
x=sq(3)
x

9

In [12]:
# reassign
x=sq
x(3)

9

In [13]:
# del func
del sq

In [15]:
sq()

NameError: name 'sq' is not defined

In [16]:
def sq(num):
    return num**2

In [21]:
# storing
l=[1,2,3,sq]
print(l)
print(l[-1](3))

[1, 2, 3, <function sq at 0x000001E89B9AF520>]
9

In [23]:
s={sq}
s
# set does not allow mutable data types but set allow immutable data types
# function is immutable

{<function __main__.sq(num)>}

In [25]:
# returning a func
def f():
    def x(a,b):
        return a+b
    return x

val=f()(3,4)   # f()=x -->x(3,4)
print(val)

7

In [27]:
# func as a argument
def func_a():
    print('inside a')
    
def func_b(z):
    print('inside b')
    return z()

print(func_b(func_a))

inside b
inside a
None

## Benefits of Function:

- code modularity
- code readibility
- code reusability

# Lambda Function

- A lambda function is a small anonymous function.
- A lambda function can take any number of arguments but can only have one expression

### lambda a,b : a+b

In [29]:
a=lambda x:x**2
a(2)

4

In [30]:
a=lambda x,y:x+y
a(5,6)

11

### Difference bet lambda vs normal function

- no name
- lambda has no return value
- lambda is written in single line
- not reusable
- lambda function used with higher order function(HOF)

In [31]:
a=lambda s:'a' in s
a('bhushan')

True

In [33]:
a=lambda x:'even' if x%2==0 else 'odd'
a(2)

'even'

## HOF

- function which return other function or function get input as function

In [3]:
def sq(x):
    return x**2

# HOF
def transform(f,l):
    output=[]
    for i in l:
        output.append(f(i))
    
    print(output)


l=[1,2,3,4,5]
transform(sq,l)

[1, 4, 9, 16, 25]

In [6]:
# HOF
def transform(f,l):
    output=[]
    for i in l:
        output.append(f(i))
    
    print(output)


l=[1,2,3,4,5]
transform(lambda x:x**2,l)
transform(lambda x:x**3,l)

[1, 4, 9, 16, 25]
[1, 8, 27, 64, 125]

## Map

In [9]:
map(lambda x:x**2,[1,2,3,4,5])

In [10]:
list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [1]:
lst=[1,2,3,4,5]
list(map(lambda x:'even' if x%2==0 else 'odd',lst))

['odd', 'even', 'odd', 'even', 'odd']

In [7]:
users=[
    {
        'name':'bhushan',
        'age':20,
        'gender':'male'
    },
    {
        'name':'shubham',
        'age':18,
        'gender':'male'    
    },
    {
        'name':'yc',
        'age':21,
        'gender':'male'    
    }
]

list(map(lambda users:users['gender'],users))

['male', 'male', 'male']

In [8]:
list(map(lambda users:users['name'],users))

['bhushan', 'shubham', 'yc']

In [9]:
list(map(lambda users:users['age'],users))

[20, 18, 21]

## Filter

In [11]:
l=[1,2,3,4,5,6,7,8,9,10]
filter(lambda x:x>5,l)

In [12]:
list(filter(lambda x:x>5,l))

[6, 7, 8, 9, 10]

In [13]:
fruits=['apple','guava','banana']
list(filter(lambda x:x.startswith('a'),fruits))

['apple']

## Reduce

In [14]:
import functools

functools.reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [16]:
functools.reduce(lambda x,y:x if x<y else y,[12,23,1,44,50])

1

In [17]:
functools.reduce(lambda x,y:x if x>y else y,[12,23,1,44,50])

50